<div class="container" data-cy="u3dd86">

  <!-- Formulario para agregar o editar actividades -->
  <div *ngIf="actividadEditando; else agregar" class="form-container">
    <h3 data-cy="2VwgDx" >Editar Actividad</h3>
    <input data-cy="2VwgD1"[(ngModel)]="actividadEditando.nombre" placeholder="Nombre de la actividad" class="input">
    <button data-cy="2VwgD2" (click)="guardarEdicion()" class="btn btn-save">Guardar</button>
    <button data-cy="2VwgD3" (click)="actividadEditando = null" class="btn btn-cancel">Cancelar</button>
  </div>

  <ng-template #agregar>
    <div data-cy="2VwgD4" class="form-container">
      <h3 data-cy="2VwgD5" >Agregar Actividad</h3>
      <input data-cy="2VwgD6" [(ngModel)]="nuevaActividad" placeholder="Nombre de la actividad" class="input">
      <button data-cy="2VwgD7" (click)="agregarActividad()" class="btn btn-add">Agregar</button>
    </div>
  </ng-template>

  <!-- Lista de actividades -->
  <ul data-cy="2VwgD8" class="actividades-list">
    <li data-cy="2VwgD9" *ngFor="let actividad of actividades" class="actividad-item">
      <span data-cy="2Vwg10" >{{ actividad.nombre }}</span>
      <div data-cy="2Vwg11" class="actions">
        <button data-cy="2Vwg12" (click)="editarActividad(actividad)" class="btn btn-edit">Editar</button>
        <button data-cy="2Vwg13" (click)="eliminarActividad(actividad.id)" class="btn btn-delete">Eliminar</button>
      </div>
    </li>
  </ul>
</div>